/*top video*/

.siteTop{
    width: 100%;
}

.siteTop img{
    width: 100%;
    height: auto;
}

/* .siteTop video{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
} */


/*content*/
.siteContent{
    width: 100%;
    height: auto;
    padding: 150px 0 200px 0;
    color: #171717;
    font-size: 18px;
    /* margin-top: 1000px; */
}

.siteContent .tableContent{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.siteContent .tableContent .item{
    flex-grow: 1 0 auto;

}


.siteContent .tableContent h4{
    position: relative;
    font-weight: 400;
    padding-left: 55px;
}

.siteContent .tableContent h4::before{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/quality.svg);
    background-repeat: no-repeat !important;
    left: 20px;
    top: 0;
}

.siteContent .tableContent .item:nth-child(2) h4::before{
    background: url(../images/stock.svg);
}

.siteContent .tableContent .item:nth-child(3) h4::before{
    background: url(../images/price.svg);
}

.siteContent .tableContent .item:nth-child(3) h4::before{
    background: url(../images/custom.svg);
}

/*our passion*/
.ourPassion{
    width: 100%;
    /* height: 700px; */
    overflow: hidden;
}

.passionLeft{
    float: left;
    width: 50%;
    height: 700px;
    padding: 130px 60px;
    background-color: #f7f7f7;
}

.passionLeft i{
    font-style: italic;
    font-size: 18px;
    color: #171717;
}

.passionLeft h5{
    margin: 15px 0;
}

.passionLeft p{
    line-height: 24px;
    font-size: 16px;
}

.passionRight{
    float: left;
    width: 50%;
    height: 700px;
    background: url(../images/M_right_img-1.jpg) no-repeat center;
}

/*our vision*/
.ourVision{
    width: 100%;
    /* height: 700px; */
    overflow: hidden;
}

.visionLeft{
    float: left;
    width: 50%;
    height: 700px;
    background: url(../images/M_left_img-1.jpg) no-repeat center;
}

.visionRight{
    float: left;
    width: 50%;
    height: 700px;
    padding: 130px 60px;
    background-color: #f7f7f7;
}

.visionRight i{
    font-style: italic;
    font-size: 18px;
    color: #171717;
}

.visionRight h5{
    margin: 15px 0;
}

.visionRight p{
    line-height: 24px;
    font-size: 16px;
}


/*sliders*/
/* our products*/
.ourProducts{
    width: 100%;
    /* height: 500px; */
    /* background-color: pink; */
    margin: 150px 0;
}

.ourProducts h1{
    font-family: 'arial black', 'avant garde';
    text-align: center;
    color: #171717;
    margin-bottom: 100px;
    font-size: 3em;
}

#sliders{
    position: relative;
    width: 100%;
    
}


#banner{
    position: absolute;
}



#banner li{
    float: left;
    margin-right: 10px;
}

#banner li img{
    display: block;
    width: 440px;
    height: 440px;
}

#banner li div{
    color: #171717;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}


.arrow{
    position: absolute;
    z-index: 200;
    top: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 500;
    color: #171717;
    box-shadow: 0 0 8px 1px #bebebe;
    transform: translateY(-50%);

}


#prev{
    left: 0;
}

#next{
    right: 0px;
}



/* windows */
.windows{
    width: 100%;
    /* height: 1320px; */
    margin-bottom: 150px;
}

.relativePosition{
    position: relative;
}

.viewWindows{
    width: 100%;
    height: 600px;
    background: url(../images/M_full_img-dark1.jpg) no-repeat center;
    background-attachment: fixed;
    opacity: .5;

}

.cover{
    width: 100%;
    height: 600px;
    background-color: black;
    backdrop-filter: opacity(30%);

}

.cover .text{
    position: absolute;
    top: 0;
    left: 0;
    margin: 250px 50px;
}

.cover .text p{
    color: #fff;
}



/* content images */
.contentImg{
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
}

.contentImg a{
    display: block;
    float: left;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: left;
    color: #171717;
    width: 48%;
    
}

.contentImg a:hover img {
    transform: scale(1.2);
}

.contentImg a:hover p{
    color: #BEBEBE;
}

.contentImg a:first-child{
    margin-right: 4%;
}

.contentImg a h5{
    font-family: "Spartan", BlinkMacSystemFont, "-apple-system", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.contentImg a p{
    margin-top: 10px;
    transition: color 0.5s;
}

.contentImg .imgFrame{
    overflow: hidden;
}

.contentImg img{
    width: 100%;
    height: 400px;
    transition: all 1s;
}

@media only screen and (max-width:600px){
    .siteContent .tableContent{
        flex-flow: column nowrap;
    }

    .siteContent .tableContent .item{
        text-align: center;
        margin: 10px 0;
    }

    .siteContent h1{
        line-height: 1em;
    }

    .passionLeft{
        width: 100%;
        height: auto;
    }
    .passionRight{
        width: 100%;
    }

    .visionLeft{
        width: 100%;
    }

    .visionRight{
        width: 100%;
        height: auto;
    }


    .contentImg a{
        width: 100%;
        margin-top: 50px;
    }

    .contentImg img{
        height: auto;
    }
}
