/*technical part*/
.technical{
    width: 100%;
    padding-top: 200px;
    margin-bottom: 100px;
}

.technical .sidebar{
    float: left;
    width: 20%;
}

.technical .sidebar img{
    width: 100%;
}

.technical .siteContent{
    float: right;
    width: 80%;
}


.technical .siteContent h1{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family: "Spartan", BlinkMacSystemFont, "-apple-system", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    color: #171717;
    width: 100%;
    margin-bottom: 100px;
}

.technical .siteContent .technicalBox{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.technical .siteContent .technicalBox .item{
    flex: 1 1 auto;
    padding: 0 5px;
}


.technical .siteContent .technicalBox img{
    object-fit: cover;
    width: 100%;
    height: auto !important;
}

.technical .siteContent .technical{
    align-items: flex-start;
}

.technical .siteContent .technicalBox h5{
    font-size: 1.5em;
    font-weight: 650;
    font-family: "Spartan", BlinkMacSystemFont, "-apple-system", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    color: #171717;
    margin: 20px 0;

}

.technical .siteContent .technical p{
    margin: 10px 0;
}

.technical .siteContent .technicalBox a{
    text-decoration: underline;
    color: #171717;
    transition: 0.3s;
}

.technical .siteContent .technicalBox a:hover{
    color: #bebebe;
}

/* care part*/
.care{
    width: 100%;
    margin-bottom: 100px;
}

.care .contentPosition{
    background-color: #f7f7f7;
    padding: 5% 3%;

}

.care h2{
    text-align: left;
    font-size: 3em;
    font-weight: 700;
    font-family: "Spartan", BlinkMacSystemFont, "-apple-system", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    color: #171717;
    width: 100%;
}


.care .careBoxContainer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.care .careBox {
    flex-basis: 48%;
    display: flex;
    flex-flow: column wrap;
}

.care .careBox .article{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #171717;
    padding-bottom: 20px;
}

.care .careBox .article:last-child{
    border: none;
}




.care .article h5{
    font-size: 1.5em;
    font-weight: 650;
    font-family: "Spartan", BlinkMacSystemFont, "-apple-system", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    color: #171717;
    line-height: 3em;
}

.care .article p{
    margin: 1em 0;
}


.care .article ul{
    padding-left:  1.1em;
}

.care .article ul li{
    margin-bottom: 0.5em;
    position: relative;
    list-style: disc;
}

.care .article h6{
    font-weight: 400;
    font-size: 1em;
    margin: 3em 0;
    line-height: 2em;
}


.care .article h6 a{
    display: inline-block;
    padding: 0.8em 1.6em;
    border: 1px solid #171717;
    transition: .5s;
}

.care .article h6 a:hover{
    color: #fff;
    background-color: #000;
}


@media only screen and (max-width:600px){
    .technical .sidebar{
        display: none;
    }

    .technical .siteContent{width: 100%;}

    .technical .siteContent .technicalBox{
        flex-flow: column nowrap;
    }

    .care .careBoxContainer{
        flex-flow: column nowrap;
    }

    .care .careBoxContainer .careBox{
        flex-basis: 100%;
    }
}